*
{
	margin: 0px;
	padding: 0px
}
body
{
	height: 1000px
}
.main
{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 80%;
	/*background-color: RGBA(246, 246, 246, 0.56);*/
}
.menu1, .menu2, .menu3 
{
	width: 35px;
	height: 7px;
	background-color: black;
	display: block;
	margin: 6px;
}
.bar
{
	width: 80%;
	height: 45px;
	position: fixed;
	background-color: #9E0F09;
	transition-duration: .5s;
	top: 0px;
}
.interface
{
	display: block;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 45px;
	transition-duration: .5s;
}
.img-aiet
{
	display: block;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.menu
{
	display: block;
	width: 100%;
	background-color: #9E0F09;
	float: left;
}
.menu > ul
{
	list-style-type: none;
}
.menu > ul > li
{
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	padding: 8px;
	padding-left: 50px;
	padding-right: 50px
}