@font-face 
{ 
	font-family: Righteous; 
	src: url('Righteous-Regular.ttf'); 
} 
*
{
	margin: 0px;
	padding: 0px;
	font-family: Righteous;
}
body
{
	overflow: hidden;
}
.img-background
{
	position: fixed;
}
.main
{
	text-align: center;
	overflow: hidden;
	position: absolute;
}
.main1
{
	width: 49.9%;
	height: 100%;
	float: left;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}
@keyframes main1intop
{
	0%{top: 600px;}
	100%{top: 0px;}
}
.main2
{
	width: 49.9%;
	height: 100%;
	float: right;
}
/*-------------------------------start main1-------------------------------*/
.loginform
{
	width: 80%;
	margin: auto;
    position: relative;
    border: 1px dotted white;
    box-shadow: 2px 11px 34px black;
}
.img-login
{
	background-image: url("background.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	filter: blur(50px);
}
input
{
	margin: auto;
	position: relative;
	display: block;
	width: 70%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
    border-style: double;
    font-size: 17px;
	font-family: cursive;
	color: #929292;
	box-shadow: 0 9px 14px -7px black;
	padding: 0px 15px 0 15px;
}
.text
{
	display: block;
	position: relative;
	color: white;
	margin-bottom: 25px;
	padding-top: 10px;
	text-shadow: 4px 4px 2px black; 
}
.button-login
{
	width: 76%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
    font-size: 25px;
    position: relative;
    background-color: #63354f;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 3px black;
}
.button-login:active
{
	background-color: #654758;
}
/*-------------------------------End main1-------------------------------*/
.line
{
	width: 1px;
	height: 60%;
	background-color: white;
	position: relative;
	margin: auto;
	top: 20%;
	box-shadow: 2px 3px 4px black;
	display: inline-block;
}
/*-------------------------------Start main2-------------------------------*/
.welcome
{
	position: relative;
	width: 90%;
	height: 40%;
	top: 30%;
	margin: 0 5% 0 5%;
	text-shadow: 4px 4px 2px black;
}
.text1
{
	color: white;
}
.su
{
	font-size: 30px;
}
.goto
{
	order: 2;
	display: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ffffff1a;
	position: absolute;
	bottom: 5px;
}
.goto1, .goto2, .goto3, .goto4
{
	width: 25px;
	height: 3.5px;
	background-color: #d1d1d1;
	position: absolute;
}
.goto1
{
	transform: rotate(45deg);
	top: 14px;
	left: 13px;
	transform-origin: left;
	animation-name: firstanimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.goto2
{
	transform: rotate(-45deg);
	top: 14px;
	right: 14px;
	transform-origin: right;
	animation-name: firstanimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.goto3
{
	transform: rotate(45deg);
	top: 29.5px;
	left: 13px;
	transform-origin: left;
	animation-name: firstanimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-delay: .5s;
}
.goto4
{
	transform: rotate(-45deg);
	top: 28.5px;
	right: 13px;
	transform-origin: right;
	animation-name: firstanimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-delay: .5s;
}
@keyframes firstanimation
{
	0%{background-color: white;}
	50%{background-color: #bababa;}
	100%{background-color: white;}
}
/*-------------------------------END main2-------------------------------*/

/*-------------------------------failed login-------------------------------*/
.failedtext
{
	position: relative;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-size: 18px;
	display: none;
	font-family: initial;
	float: left;
	left: 15%;
	margin-bottom: 5px;
}

/*-------------------------------For tablet and mobile-------------------------------*/
@media only screen and (max-width: 900px )
{
	.line
	{
		display: none;
	}
	.main1
	{
		display: none;
		position: absolute;
	}
	.main2
	{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.welcome
	{
		order: 1;
		display: block;
	}
	.goto
	{
		display: block;
	}
	.failed
	{
		display: none;
	}
}
